[Unit]
Description=alexa socket control

[Service]
ExecStart=/usr/local/bin/node /opt/rf/agent/agent.js
Restart=always

[Install]
WantedBy=network-online.target
